In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_log=pd.read_csv('Log_Data_2.csv', encoding='utf-8')
df_cus=pd.read_csv('Customer_Data_0.csv', encoding='utf-8')

In [4]:
df_log

,거래일자,수수료율,고객ID,프로그램수정횟수,추가결제금액,거래취소여부,서비스명,판매자,판매금액,서비스가격,평점,이용자수,대분류,서비스번호
0,20210201,6.5,5030100140,0.0,9800,0.0,"카페24,고도몰,메이크샵등 쇼핑몰 수정,코딩,유지보수",logf1,14800.0,5000.0,5.0,584.0,커머스,2102.0
1,20210201,6.5,8020105385,0.0,0,0.0,"카페24,고도몰,메이크샵등 쇼핑몰 수정,코딩,유지보수",logf1,5000.0,5000.0,5.0,584.0,커머스,2102.0
2,20210201,6.5,110104033157,0.0,9200,0.0,"엑셀 VBA, 매크로, ERP 프로그램 개발해 드립니다.",엑셀의신,19200.0,10000.0,5.0,583.0,데이터,2103.0
3,20210201,7.5,40203001176,0.0,11000,0.0,"엑셀을 이용 서식과 집계, 분석 및 VBA 프로그래밍",태구리,61000.0,50000.0,5.0,504.0,데이터,2105.0
4,20210201,6.5,5041700297,0.0,0,0.0,"엑셀을 이용 서식과 집계, 분석 및 VBA 프로그래밍",태구리,50000.0,50000.0,5.0,504.0,데이터,2105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344260,20210630,9.0,50150001196,0.0,0,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,4.6,33.0,데이터,2600.0
344261,20210630,7.5,60107010137,0.0,0,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,4.6,33.0,데이터,2600.0
344262,20210630,9.0,70406002101,0.0,0,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,4.6,33.0,데이터,2600.0
344263,20210630,6.5,9010306354,0.0,0,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,4.6,33.0,데이터,2600.0
344264,20210630,7.5,9030200780,0.0,10000,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,30000.0,20000.0,4.6,33.0,데이터,2600.0

In [5]:
df_cus

,고객ID,사용기기,사용OS,유입경로,회원상태,거주지,연령,서비스총구매수,총구매금액,총수정요청수,총추가결제금액
0,1001010041,iPhone,iOS11.4.1,유튜브,정상회원,경기도,25.0,1,44500.0,0.0,14500
1,10010100410,SM-N935S,Android7.0,검색광고,정상회원,경기도,26.0,1,44500.0,0.0,14500
2,100101004108,iPhone,iOS12.0,네이버블로그,정상회원,경기도,23.0,1,34500.0,0.0,14500
3,100101004109,iPhone,iOS11.4.1,인스타그램,정상회원,경기도,20.0,1,364500.0,0.0,14500
4,100101004112,iPhone,iOS11.4.1,직접검색,정상회원,경기도,28.0,1,34500.0,0.0,14500
...,...,...,...,...,...,...,...,...,...,...,...
134131,9050206990,SM-N950N,Android8.0.0,유튜브,정상회원,경상도,21.0,2,75000.0,0.0,20000
134132,9050206992,iPhone,iOS11.4,네이버카페,탈퇴,강원도,26.0,1,310000.0,0.0,10000
134133,9050206995,iPhone,iOS12.0,인스타그램,정상회원,강원도,28.0,1,89000.0,0.0,10000
134134,9050206996,SM-G930S,Android8.0.0,네이버블로그,정상회원,강원도,43.0,1,9000.0,1.0,4000
134135,9050206998,SM-A530N,Android7.1.1,네이버카페,정상회원,충청도,23.0,1,30000.0,0.0,10000

In [6]:
df_cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134136 entries, 0 to 134135
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   고객ID     134136 non-null  int64
 1   사용기기     134136 non-null  object
 2   사용OS     134136 non-null  object
 3   유입경로     134136 non-null  object
 4   회원상태     134136 non-null  object
 5   거주지      134136 non-null  object
 6   연령       134136 non-null  float64
 7   서비스총구매수  134136 non-null  int64
 8   총구매금액    134136 non-null  float64
 9   총수정요청수   134136 non-null  float64
 10  총추가결제금액  134136 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 11.3+ MB

In [7]:
df_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344265 entries, 0 to 344264
Data columns (total 14 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   거래일자      344265 non-null  int64
 1   수수료율      344265 non-null  float64
 2   고객ID      344265 non-null  int64
 3   프로그램수정횟수  344265 non-null  float64
 4   추가결제금액    344265 non-null  int64
 5   거래취소여부    344265 non-null  float64
 6   서비스명      344265 non-null  object
 7   판매자       344265 non-null  object
 8   판매금액      344265 non-null  float64
 9   서비스가격     344265 non-null  float64
 10  평점        344265 non-null  float64
 11  이용자수      344265 non-null  float64
 12  대분류       344265 non-null  object
 13  서비스번호     344265 non-null  float64
dtypes: float64(8), int64(3), object(3)
memory usage: 36.8+ MB

In [9]:
merge_log_cus=pd.merge(df_log,df_cus,on='고객ID')
merge_log_cus

,거래일자,수수료율,고객ID,프로그램수정횟수,추가결제금액,거래취소여부,서비스명,판매자,판매금액,서비스가격,...,사용기기,사용OS,유입경로,회원상태,거주지,연령,서비스총구매수,총구매금액,총수정요청수,총추가결제금액
0,20210201,6.5,5030100140,0.0,9800,0.0,"카페24,고도몰,메이크샵등 쇼핑몰 수정,코딩,유지보수",logf1,14800.0,5000.0,...,iPhone,iOS11.4.1,유튜브,정상회원,경상도,20.0,8,250400.0,0.0,72400
1,20210201,6.5,8020105385,0.0,0,0.0,"카페24,고도몰,메이크샵등 쇼핑몰 수정,코딩,유지보수",logf1,5000.0,5000.0,...,SM-N950N,Android7.1.1,인스타그램,정상회원,경기도,27.0,3,60000.0,0.0,0
2,20210201,6.5,110104033157,0.0,9200,0.0,"엑셀 VBA, 매크로, ERP 프로그램 개발해 드립니다.",엑셀의신,19200.0,10000.0,...,iPhone,iOS11.4.1,유튜브,정상회원,경기도,29.0,1,19200.0,0.0,9200
3,20210201,7.5,40203001176,0.0,11000,0.0,"엑셀을 이용 서식과 집계, 분석 및 VBA 프로그래밍",태구리,61000.0,50000.0,...,iPhone,iOS11.0.3,유튜브,정상회원,전라도,20.0,5,645000.0,0.0,55000
4,20210201,6.5,5041700297,0.0,0,0.0,"엑셀을 이용 서식과 집계, 분석 및 VBA 프로그래밍",태구리,50000.0,50000.0,...,iPhone,iOS11.4.1,네이버블로그,정상회원,제주도,32.0,6,203000.0,1.0,3000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335777,20210630,9.0,50150001196,0.0,0,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,...,SM-G960N,Android8.0.0,네이버블로그,정상회원,경기도,21.0,4,105000.0,0.0,0
335778,20210630,7.5,60107010137,0.0,0,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,...,LG-F800L,Android7.0,유튜브,정상회원,경상도,23.0,2,130000.0,0.0,0
335779,20210630,9.0,70406002101,0.0,0,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,...,Redmi 5 Plus,Android8.1.0,네이버블로그,정상회원,충청도,24.0,3,93000.0,0.0,0
335780,20210630,6.5,9010306354,0.0,0,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,...,SM-N960N,Android8.1.0,유튜브,정상회원,전라도,33.0,2,150000.0,1.0,10000
335781,20210630,7.5,9030200780,0.0,10000,0.0,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,30000.0,20000.0,...,SM-G960N,Android8.0.0,유튜브,정상회원,경기도,32.0,3,75000.0,0.0,30000

In [10]:
merge_log_cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335782 entries, 0 to 335781
Data columns (total 24 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   거래일자      335782 non-null  int64
 1   수수료율      335782 non-null  float64
 2   고객ID      335782 non-null  int64
 3   프로그램수정횟수  335782 non-null  float64
 4   추가결제금액    335782 non-null  int64
 5   거래취소여부    335782 non-null  float64
 6   서비스명      335782 non-null  object
 7   판매자       335782 non-null  object
 8   판매금액      335782 non-null  float64
 9   서비스가격     335782 non-null  float64
 10  평점        335782 non-null  float64
 11  이용자수      335782 non-null  float64
 12  대분류       335782 non-null  object
 13  서비스번호     335782 non-null  float64
 14  사용기기      335782 non-null  object
 15  사용OS      335782 non-null  object
 16  유입경로      335782 non-null  object
 17  회원상태      335782 non-null  object
 18  거주지       335782 non-null  object
 19  연령        335782 non-null  float64
 20  서비스총구매수   335782 non-null  int64
 21  총구매금액     335782 non-null  float64
 22  총수정요청수    335782 non-null  float64
 23  총추가결제금액   335782 non-null  int64
dtypes: float64(11), int64(5), object(8)
memory usage: 61.5+ MB

In [11]:
df_cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134136 entries, 0 to 134135
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   고객ID     134136 non-null  int64
 1   사용기기     134136 non-null  object
 2   사용OS     134136 non-null  object
 3   유입경로     134136 non-null  object
 4   회원상태     134136 non-null  object
 5   거주지      134136 non-null  object
 6   연령       134136 non-null  float64
 7   서비스총구매수  134136 non-null  int64
 8   총구매금액    134136 non-null  float64
 9   총수정요청수   134136 non-null  float64
 10  총추가결제금액  134136 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 11.3+ MB

In [12]:
df_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344265 entries, 0 to 344264
Data columns (total 14 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   거래일자      344265 non-null  int64
 1   수수료율      344265 non-null  float64
 2   고객ID      344265 non-null  int64
 3   프로그램수정횟수  344265 non-null  float64
 4   추가결제금액    344265 non-null  int64
 5   거래취소여부    344265 non-null  float64
 6   서비스명      344265 non-null  object
 7   판매자       344265 non-null  object
 8   판매금액      344265 non-null  float64
 9   서비스가격     344265 non-null  float64
 10  평점        344265 non-null  float64
 11  이용자수      344265 non-null  float64
 12  대분류       344265 non-null  object
 13  서비스번호     344265 non-null  float64
dtypes: float64(8), int64(3), object(3)
memory usage: 36.8+ MB