In [1]:
import pandas as pd
df_Log = pd.read_csv('Log_Data02.csv')

In [2]:
df_Log['총금액'] = df_Log['판매금액'] + df_Log['추가결제금액']
df_Log['매출'] = df_Log['총금액'] * df_Log['수수료율']
df_Log.to_csv("Log_Data03.csv", encoding="utf-8-sig", index=False)

In [3]:
# 중복된 행 제거 -------------------------------------------------
df_Log.nunique()
df_Log.duplicated().sum()
print(df_Log[df_Log.duplicated()])
df_Log = df_Log.drop_duplicates()

            거래일자  수수료율         고객ID  프로그램수정횟수  추가결제금액  거래취소여부  거래취소일자  \
17454   20210209   6.5  50816001153       0.0       0     NaN     NaN
81902   20210116   6.5   6020101421       0.0       0     NaN     NaN
83472   20210117   6.5  50175001149       0.0       0     NaN     NaN
89505   20210120   6.5  50508001176       0.0       0     NaN     NaN
90305   20210120   6.5   6020101448       0.0       0     NaN     NaN
136135  20210313   6.5  60201159110       0.0    1500     NaN     NaN
165304  20210328   6.5  10020100315       0.0       0     NaN     NaN
194655  20210413   7.5  10020100310       0.0       0     NaN     NaN
205598  20210419   6.5  10020100572       0.0       0     NaN     NaN
247761  20210513   6.5   5050801794       0.0       0     NaN     NaN
334959  20210626   6.5   6020101420       0.0       0     NaN     NaN

                                        서비스명     판매자     판매금액    서비스가격   평점  \
17454   Python으로 머신러닝,딥러닝 데이터분석 모델링을 해 드립니다.  Kerry7  50000.0  50000.0  4.9
81902             홈페이지 수정, 이미지 및 텍스트 등 간단 수정    YaaP   5000.0   5000.0  5.0
83472                     기획력있는 퍼블리싱 해 드립니다.  기발한기발자  20000.0  20000.0  5.0
89505            카페24쇼핑몰 수정, 추가, 소셜로그인, 기능추가     var  15000.0  15000.0  5.0
90305            VBA 프로그램 , 엑셀 매크로 제작해 드립니다.  스마트dda   5000.0   5000.0  5.0
136135                        VBA 막힐 때 물어보세요    연봉백억   6500.0   5000.0  5.0
165304        카페24,고도몰,메이크샵,모든쇼핑몰 수정,오류,문제해결  오즈의해결사   5000.0   5000.0  5.0
194655                    C언어 프로그래밍을 해 드립니다.   C튜토리얼   7500.0   7500.0  5.0
205598       엑셀 VBA, 매크로, ERP 프로그램 개발해 드립니다.    엑셀의신  10000.0  10000.0  5.0
247761                 고퀄리티의 퍼블리싱을 구현해 드립니다.     은앤은   5000.0   5000.0  5.0
334959                 고퀄리티의 퍼블리싱을 구현해 드립니다.     은앤은   5000.0   5000.0  5.0

         이용자수    대분류   서비스번호      총금액        매출
17454    32.0    데이터  2614.0  50000.0  325000.0
81902    42.0   홈페이지  2483.0   5000.0   32500.0
83472    55.0     기획  2412.0  20000.0  130000.0
89505   137.0    커머스  2205.0  15000.0   97500.0
90305   126.0    데이터  2219.0   5000.0   32500.0
136135    6.0     기타  3555.0   8000.0   52000.0
165304    2.0    커머스  4649.0   5000.0   32500.0
194655   59.0  프로그래밍  2392.0   7500.0   56250.0
205598  583.0    데이터  2103.0  10000.0   65000.0
247761   25.0   홈페이지  2717.0   5000.0   32500.0
334959   25.0   홈페이지  2717.0   5000.0   32500.0

In [4]:
# 결측 제거------------------------------------------------------
df_Log['거래취소여부'] = df_Log['거래취소여부'].fillna(0)
df_Log=df_Log.drop('거래취소일자',axis=1)
df_Log=df_Log.dropna()
df_Log.to_csv("Log_Data_0.csv", encoding="utf-8-sig", index=False)

In [5]:
# 이상치 제거 ------------------------------------------------------------------
df_Log = df_Log[df_Log.프로그램수정횟수!=119]
df_Log.to_csv('Log_Data_1.csv',encoding='utf-8-sig',index=False)

In [6]:
# 이상치 대체 ---------------------------------------------------- --------------
df_Log.loc[df_Log.프로그램수정횟수 == -1, '거래취소여부'] = 1
df_Log.to_csv('Log_Data_2.csv',encoding='utf-8-sig',index=False)

In [7]:
# Service_Data.csv 에 결측치 제거 -----------------------------------------------
df_service = pd.read_csv('Service_Data.csv')
df_service = df_service.dropna()

In [8]:
# 중복된 서비스(판매수를 제외한 기준)끼리 판매수를 합치고 하나로 만들기 --------------
df_service = df_service.groupby(['서비스명', '판매자', '서비스가격', '평점', '대분류', '서비스번호'],as_index=False).agg({'판매수': 'sum'})
df_service.to_csv('Service_Data_0.csv',encoding='utf-8-sig',index=False)

In [9]:
# Customer_data.csv 에 결측치,이상치 제거 ----------------------------------------------
df_customer = pd.read_csv('Customer_data.csv')
df_customer.isnull().sum()
df_customer = df_customer.drop('성별',axis=1)
df_customer = df_customer[(df_customer['연령'] != 0) & (df_customer['연령'] != 85)]
df_customer.loc[df_customer['총수정요청수'] == 120, '총수정요청수'] = 1
df_customer = df_customer.dropna()
df_customer.to_csv('Customer_Data_0.csv',encoding='utf-8-sig',index=False)

In [10]:
# Log_Data_2 + Customer_Data_0 ------------------------------------------------
df1=pd.read_csv('Log_Data_2.csv')
df2=pd.read_csv('Customer_Data_0.csv')
df1.info()
df2.info()
df12 = pd.merge(df1,df2,on='고객ID')
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344265 entries, 0 to 344264
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   거래일자      344265 non-null  int64
 1   수수료율      344265 non-null  float64
 2   고객ID      344265 non-null  int64
 3   프로그램수정횟수  344265 non-null  float64
 4   추가결제금액    344265 non-null  int64
 5   거래취소여부    344265 non-null  float64
 6   서비스명      344265 non-null  object
 7   판매자       344265 non-null  object
 8   판매금액      344265 non-null  float64
 9   서비스가격     344265 non-null  float64
 10  평점        344265 non-null  float64
 11  이용자수      344265 non-null  float64
 12  대분류       344265 non-null  object
 13  서비스번호     344265 non-null  float64
 14  총금액       344265 non-null  float64
 15  매출        344265 non-null  float64
dtypes: float64(10), int64(3), object(3)
memory usage: 42.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133986 entries, 0 to 133985
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   고객ID     133986 non-null  int64
 1   사용기기     133986 non-null  object
 2   사용OS     133986 non-null  object
 3   유입경로     133986 non-null  object
 4   회원상태     133986 non-null  object
 5   거주지      133986 non-null  object
 6   연령       133986 non-null  float64
 7   서비스총구매수  133986 non-null  int64
 8   총구매금액    133986 non-null  float64
 9   총수정요청수   133986 non-null  float64
 10  총추가결제금액  133986 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 11.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335450 entries, 0 to 335449
Data columns (total 26 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   거래일자      335450 non-null  int64
 1   수수료율      335450 non-null  float64
 2   고객ID      335450 non-null  int64
 3   프로그램수정횟수  335450 non-null  float64
 4   추가결제금액    335450 non-null  int64
 5   거래취소여부    335450 non-null  float64
 6   서비스명      335450 non-null  object
 7   판매자       335450 non-null  object
 8   판매금액      335450 non-null  float64
 9   서비스가격     335450 non-null  float64
 10  평점        335450 non-null  float64
 11  이용자수      335450 non-null  float64
 12  대분류       335450 non-null  object
 13  서비스번호     335450 non-null  float64
 14  총금액       335450 non-null  float64
 15  매출        335450 non-null  float64
 16  사용기기      335450 non-null  object
 17  사용OS      335450 non-null  object
 18  유입경로      335450 non-null  object
 19  회원상태      335450 non-null  object
 20  거주지       335450 non-null  object
 21  연령        335450 non-null  float64
 22  서비스총구매수   335450 non-null  int64
 23  총구매금액     335450 non-null  float64
 24  총수정요청수    335450 non-null  float64
 25  총추가결제금액   335450 non-null  int64
dtypes: float64(13), int64(5), object(8)
memory usage: 66.5+ MB

In [11]:
# Service_Data_0 + Expert_Data ------------------------------------------------
df3=pd.read_csv('Service_Data_0.csv')
df4=pd.read_csv('Expert_Data.csv')
df3.info()
df4.info()
df34 = pd.merge(df3,df4,on='판매자')
df34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2863 entries, 0 to 2862
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   서비스명    2863 non-null   object
 1   판매자     2863 non-null   object
 2   서비스가격   2863 non-null   float64
 3   평점      2863 non-null   float64
 4   대분류     2863 non-null   object
 5   서비스번호   2863 non-null   float64
 6   판매수     2863 non-null   int64
dtypes: float64(3), int64(1), object(3)
memory usage: 156.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2066 entries, 0 to 2065
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   판매자ID           2066 non-null   object
 1   판매자             2066 non-null   object
 2   판매 서비스 수        2066 non-null   int64
 3   총 판매 금액         2066 non-null   int64
 4   프리미엄 서비스 가입여부   2066 non-null   object
 5   신속 알람 서비스 사용여부  2066 non-null   object
dtypes: int64(2), object(4)
memory usage: 97.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2863 entries, 0 to 2862
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   서비스명            2863 non-null   object
 1   판매자             2863 non-null   object
 2   서비스가격           2863 non-null   float64
 3   평점              2863 non-null   float64
 4   대분류             2863 non-null   object
 5   서비스번호           2863 non-null   float64
 6   판매수             2863 non-null   int64
 7   판매자ID           2863 non-null   object
 8   판매 서비스 수        2863 non-null   int64
 9   총 판매 금액         2863 non-null   int64
 10  프리미엄 서비스 가입여부   2863 non-null   object
 11  신속 알람 서비스 사용여부  2863 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 268.5+ KB

In [12]:
# merge -----------------------------------------------------------------------
df1234 = pd.merge(df12,df34,on='서비스번호')
df1234.info()
df1234.to_csv('Merge_0.csv',encoding='utf-8-sig',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335450 entries, 0 to 335449
Data columns (total 37 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   거래일자            335450 non-null  int64
 1   수수료율            335450 non-null  float64
 2   고객ID            335450 non-null  int64
 3   프로그램수정횟수        335450 non-null  float64
 4   추가결제금액          335450 non-null  int64
 5   거래취소여부          335450 non-null  float64
 6   서비스명_x          335450 non-null  object
 7   판매자_x           335450 non-null  object
 8   판매금액            335450 non-null  float64
 9   서비스가격_x         335450 non-null  float64
 10  평점_x            335450 non-null  float64
 11  이용자수            335450 non-null  float64
 12  대분류_x           335450 non-null  object
 13  서비스번호           335450 non-null  float64
 14  총금액             335450 non-null  float64
 15  매출              335450 non-null  float64
 16  사용기기            335450 non-null  object
 17  사용OS            335450 non-null  object
 18  유입경로            335450 non-null  object
 19  회원상태            335450 non-null  object
 20  거주지             335450 non-null  object
 21  연령              335450 non-null  float64
 22  서비스총구매수         335450 non-null  int64
 23  총구매금액           335450 non-null  float64
 24  총수정요청수          335450 non-null  float64
 25  총추가결제금액         335450 non-null  int64
 26  서비스명_y          335450 non-null  object
 27  판매자_y           335450 non-null  object
 28  서비스가격_y         335450 non-null  float64
 29  평점_y            335450 non-null  float64
 30  대분류_y           335450 non-null  object
 31  판매수             335450 non-null  int64
 32  판매자ID           335450 non-null  object
 33  판매 서비스 수        335450 non-null  int64
 34  총 판매 금액         335450 non-null  int64
 35  프리미엄 서비스 가입여부   335450 non-null  object
 36  신속 알람 서비스 사용여부  335450 non-null  object
dtypes: float64(15), int64(8), object(14)
memory usage: 94.7+ MB

In [13]:
# 동일 컬럼 제거 ----------------------------------------------------------------
df_M0 = pd.read_csv('Merge_0.csv')
x_cols = [col for col in df_M0.columns if col.endswith('_x')]
y_cols = [col for col in df_M0.columns if col.endswith('_y')]

base_names = [col[:-2] for col in x_cols if col[:-2] in [y[:-2] for y in y_cols]]

cols_to_drop = []
for base in base_names:
    col_x = f"{base}_x"
    col_y = f"{base}_y"
    if df_M0[col_x].equals(df_M0[col_y]):
        cols_to_drop.append(col_y)  # y 컬럼 삭제 대상

df_M0 = df_M0.drop(columns=cols_to_drop)

df_M0.columns = [col[:-2] if col.endswith('_x') else col for col in df_M0.columns]

print("삭제된 중복 컬럼 목록:", cols_to_drop)
print("최종 컬럼 수:", len(df_M0.columns))
df_M0.columns
df_M0.to_csv('Merge_1.csv',encoding='utf-8-sig',index=False)

삭제된 중복 컬럼 목록: ['서비스명_y', '판매자_y', '서비스가격_y', '평점_y', '대분류_y']
최종 컬럼 수: 32

In [14]:
# -----------------------------------------------------------------------------
df_M1 = pd.read_csv('Merge_1.csv')
df_M1.프로그램수정횟수 = df_M1.프로그램수정횟수.astype(int)

조건1 = df_M1['고객ID'].value_counts()
df_M1['서비스총구매수'] = df_M1['고객ID'].map(조건1)

조건2 = df_M1.groupby('고객ID')['판매금액'].sum()
df_M1['총구매금액'] = df_M1['고객ID'].map(조건2)

조건3 = df_M1.groupby('고객ID')['프로그램수정횟수'].sum()
df_M1['총수정요청수'] = df_M1['고객ID'].map(조건3)

조건4 = df_M1.groupby('고객ID')['추가결제금액'].sum()
df_M1['총추가결제금액'] = df_M1['고객ID'].map(조건4)

총판매금액계산 = df_M1.groupby('판매자')['총금액'].sum()
df_M1['총 판매 금액'] = df_M1['판매자'].map(총판매금액계산)

df_M1.info()
df_M1.to_csv('Merge_2.csv',encoding='utf-8-sig',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335450 entries, 0 to 335449
Data columns (total 32 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   거래일자            335450 non-null  int64
 1   수수료율            335450 non-null  float64
 2   고객ID            335450 non-null  int64
 3   프로그램수정횟수        335450 non-null  int32
 4   추가결제금액          335450 non-null  int64
 5   거래취소여부          335450 non-null  float64
 6   서비스명            335450 non-null  object
 7   판매자             335450 non-null  object
 8   판매금액            335450 non-null  float64
 9   서비스가격           335450 non-null  float64
 10  평점              335450 non-null  float64
 11  이용자수            335450 non-null  float64
 12  대분류             335450 non-null  object
 13  서비스번호           335450 non-null  float64
 14  총금액             335450 non-null  float64
 15  매출              335450 non-null  float64
 16  사용기기            335450 non-null  object
 17  사용OS            335450 non-null  object
 18  유입경로            335450 non-null  object
 19  회원상태            335450 non-null  object
 20  거주지             335450 non-null  object
 21  연령              335450 non-null  float64
 22  서비스총구매수         335450 non-null  int64
 23  총구매금액           335450 non-null  float64
 24  총수정요청수          335450 non-null  int32
 25  총추가결제금액         335450 non-null  int64
 26  판매수             335450 non-null  int64
 27  판매자ID           335450 non-null  object
 28  판매 서비스 수        335450 non-null  int64
 29  총 판매 금액         335450 non-null  float64
 30  프리미엄 서비스 가입여부   335450 non-null  object
 31  신속 알람 서비스 사용여부  335450 non-null  object
dtypes: float64(12), int32(2), int64(7), object(11)
memory usage: 79.3+ MB