In [1]:
import pandas as pd
df1 = pd.read_csv('Log_Data03.csv')
df4 = pd.read_csv('Expert_Data.csv')

In [2]:
총판매금액계산 = df1.groupby('판매자')['총금액'].sum()
df1['총판매금액'] = df1['판매자'].map(총판매금액계산)

In [3]:
# 1. df2에서 판매자와 총 판매 금액만 추출
df4_sum = df4[['판매자', '총 판매 금액']].drop_duplicates()

# 2. df1과 df2를 판매자 기준으로 병합 (df1 기준으로)
df1_merged = pd.merge(df1, df4_sum, on='판매자', how='inner')

# 3. 비교: 총판매금액(df1 계산) vs 총 판매 금액(df2 제공)
df1_merged['총판매금액_일치여부'] = df1_merged['총판매금액'] == df1_merged['총 판매 금액']

# 4. 결과 확인 (판매자별로 중복 제거하고 보고 싶다면)
비교결과 = df1_merged[['판매자', '총판매금액', '총 판매 금액', '총판매금액_일치여부']].drop_duplicates()

In [14]:
비교결과

                    판매자       총판매금액   총 판매 금액  총판매금액_일치여부
0                 logf1   4497380.0   4497380        True
402                엑셀의신  25505280.0  25505280        True
1989                태구리  33712920.0  33712920        True
2505            오Design  13025060.0  13025060        True
3108       WorldWiseWeb  15395530.0  15395530        True
...                 ...         ...       ...         ...
344259          달콤한나의도시    203200.0    203200        True
344260           유민에브리띵     50600.0     50600        True
344262            아틀란기획   3065800.0   3065800        True
344264           어나더클래스   3872800.0   3872800        True
344271  FranciscoXavier    405040.0    405040        True

[2066 rows x 4 columns]

In [15]:
df1.판매자.nunique()

2066

In [15]:
import pandas as pd
df1 = pd.read_csv('Log_Data02.csv')
df4 = pd.read_csv('Expert_Data.csv')

In [16]:
df1['총판매금액'] = df1['서비스가격'] + df1['추가결제금액'] + df1['추가결제금액']

In [23]:
df4 = df4[['판매자', '총 판매 금액']].drop_duplicates()
merged = pd.merge(df1, df4, on='판매자', how='inner')
merged['총판매금액_일치여부'] = (df1_merged['총판매금액'] == merged['총 판매 금액'])
result = merged[['판매자', '총판매금액', '총 판매 금액', '총판매금액_일치여부']].drop_duplicates()
result['총판매금액_일치여부'].value_counts()

총판매금액_일치여부
True    63920
Name: count, dtype: int64